services:
  - type: web
    name: data-science-job-portal
    runtime: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 3000
      - key: DATABASE_URL
        sync: false
